body {
  background-image: url("https://images2.alphacoders.com/392/392.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.lato {
  font-family: "Lato", sans-serif;
}

.lato-lg {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
}
.abril {
  font-family: "Abril Fatface", cursive;
}

.lobster {
  font-family: "Lobster", cursive;
}

.lobster-lg {
  font-family: "Lobster", cursive;
  font-size: 1.5em;
}
